body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 960px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  text-decoration: none;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.page-nav a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.page-nav a:hover {
  color: #f07f2e;
}

.hero {
  height: 480px;
}

.hero > .container {
  height: 100%;
  position: relative;
}

.hero-list {
  height: 100%;
  position: relative;
}

.hero-item {
  position: relative;
  width: 100%;
  height: 480px;
  background-color: orange;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-item.first {
  background-image: url(./img/hero-bg.jpg);
}

.hero-item.second {
  background-image: url(./img/hero-bg-2.jpeg);
}

.hero-item.third {
  background-image: url(./img/hero-bg-3.jpeg);
}

.greeting {
  position: absolute;
  left: 28px;
  bottom: 52px;
  padding: 24px;
  background: #0f3f3c;
  border-radius: 16px;
  width: 432px;
}

.greeting h1 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin-bottom: 8px;
}

.greeting p {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-btn.next {
  right: 36px;
}

.hero-btn.prev {
  left: 36px;
}

.section {
  margin-top: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.section-text {
  margin-top: 8px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.cat-list li {
  overflow: hidden;
  border-radius: 16px;
}

.cat-list li:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.cat-list .content {
  padding: 16px 8px 24px 8px;
}

.cat-list h3 {
  margin-bottom: 8px;
}

.cat-list p {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}

.gallery li {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}

.gallery li:hover {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

.page-footer {
  margin-top: 60px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #0f3f3c;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social-links a:hover {
  background-color: #ffffff;
}

.social-links svg {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.social-links a:hover svg {
  fill: #f07f2e;
}

.social-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: right;
}

.is-hidden {
  display: none;
}
